#boardColor {
    color: rgb(177, 16, 43);
    background-color: gray;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 180px;
    height: 50px;
    font-size: 18px;

}

#pieceColor {
    color: rgb(177, 16, 43);
    background-color: gray;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 180px;
    height: 50px;
    font-size: 18px;
}

