@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    background: #13284c;
    color: #f6f4e6;
}

h3 {
    text-align: center;
    margin-top: 100px;
    color: #f6f4e6;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;

}

h5 {
    font-family: "Montserrat", sans-serif;
}

#statsTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#statsTable td,
#statsTable th {
    border: 1px solid #ffff;
    padding: 8px;
}

#statsTable tr:nth-child(even) {
    background-color: #b1102b;
}

#statsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 5px solid;
}

a button {
    width: 10em;
    height: 2em;
    font-size: 12pt;
    cursor: pointer;
    border: none;
    color: #f6f4e6;
    background-color: #13284c;
}

a button:hover {
    color: #b1102b;
}

#sorting {
    padding: 100px;
}